@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 580px) {
  .our-team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 540px) {
  .portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 500px) {
  .testimonial {
    display: block;
  }
}
@media only screen and (max-width: 450px) {
  .service {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .our-team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact {
    display: block;
    width: 100%;
  }
  .contact-us {
    padding-top: 20px;
  }

}
@media only screen and (max-width: 500px) {
  .card {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 460px) {
  .location {
    display: inline-flex;
  }
}

@media only screen and (max-width: 360px) {
  .hero {
    font-size: 15px;
  }
  .subcribe {
    display: block;
    padding-top: 20px;
  }
  .portfolio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
